@-webkit-keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10
    }

    to {
        left: 0;
        width: 100%
    }
}

@-moz-keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10
    }

    to {
        left: 0;
        width: 100%
    }
}

@-o-keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10
    }

    to {
        left: 0;
        width: 100%
    }
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10
    }

    to {
        left: 0;
        width: 100%
    }
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic,cyrillic-ext');.ec-lock {
    margin-right: 17px;
    overflow: hidden!important;
    width: auto
}

.ec-lock body {
    overflow: hidden!important
}

.ec-lock body .ec-calc-layout {
    overflow: auto;
    overflow-y: scroll
}

.ec-calc-layout {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9997
}

.ec-calc-layout * {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    position: static;
    text-align: left
}

.ec-calc {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: none;
    left: 50%;
    margin-left: -400px;
    min-height: 350px;
    padding: 20px 0 30px;
    position: absolute;
    top: 20%;
    width: 800px;
    z-index: 9998
}

.ec-calc--preload {
    background: url(spin50.gif) no-repeat center;
    min-height: 100px
}

.ec-calc--call {
    background-color: #03a9f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: none;
    font-family: Ubuntu,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: -42px;
    min-height: 85px;
    padding: 40px 10px 10px 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 90px;
    z-index: 9996
}

.ec-calc--call:after {
    background-image: url(delivery.png);
    background-position: center 10px;
    background-repeat: no-repeat;
    -moz-background-size: 36px;
    background-size: 36px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.ec-calc--call:active,.ec-calc--call:focus,.ec-calc--call:hover {
    opacity: .8
}

.ec-calc--call--left {
    left: 10px;
    right: auto
}

.ec-calc--call--left:after {
    background-position: center 10px;
    content: ""
}

.ec-calc--call--left:active,.ec-calc--call--left:focus,.ec-calc--call--left:hover {
    left: 0;
    opacity: 1;
    right: auto
}

.ec-calc-again {
    background-color: #9e9e9e!important;
    color: #fff!important;
    display: block;
    margin: 10px 0!important;
    padding: 15px 0!important;
    text-align: center!important;
    text-decoration: none
}

.ec-calc-again:hover {
    background-color: #858585!important;
    color: #fff!important;
    text-decoration: none!important
}

.ec-calc-item {
    background-color: #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    position: relative
}

.ec-calc-item__price {
    background-color: #138e63;
    bottom: 15px;
    color: #fff!important;
    font-size: 12px!important;
    padding: 3px 5px;
    position: absolute;
    right: 0
}

.ec-calc-item__img {
    float: left;
    padding-right: 15px;
    width: 15%
}

.ec-calc-item__img img {
    max-width: 100%!important
}

.ec-calc-item-text {
    float: left;
    width: 85%
}

.ec-calc-item__title {
    font-size: 18px;
    font-weight: 700
}

.ec-calc__close {
    cursor: pointer;
    line-height: .6;
    position: absolute;
    right: 20px;
    top: 10px
}

.ec-calc-made {
    bottom: 5px;
    color: #999;
    font-size: 11px;
    line-height: 1.3;
    position: absolute;
    right: 20px
}

.ec-calc-made a {
    color: #999;
    font-size: 11px
}

.ec-calc-made a:focus,.ec-calc-made a:hover {
    color: red;
    text-decoration: none
}

.ec-calc-agree {
    bottom: 5px!important;
    color: #333!important;
    font-size: 11px!important;
    left: 0 !important;
    line-height: 1.3!important;
    position: absolute!important
}

.ec-calc-agree span {
    border-bottom: 1px dashed #333!important;
    color: #333!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: 11px!important;
    line-height: 1.3!important
}

.ec-calc-error {
    background: #ffcdd2!important;
    border-left: 3px solid #f44336!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    display: none;
    font-size: 14px!important;
    font-weight: 400!important;
    margin-bottom: 10px!important;
    padding: 5px 15px!important
}

.ec-calc .ec-calc__header {
    border-bottom: 4px solid #607d8b;
    margin-bottom: 15px
}

.ec-calc .ec-calc__header__text {
    font-size: 24px;
    font-weight: 700
}

.ec-calc .ec-calc-form-row {
    margin-bottom: 15px;
    overflow: hidden
}

.ec-calc .ec-calc-form-row:before {
    content: " ";
    display: table
}

.ec-calc .ec-calc-form-row:after {
    clear: both
}

.ec-calc .ec-calc-form-delivery,.ec-calc .ec-calc-form-from,.ec-calc .ec-calc-form-pickup,.ec-calc .ec-calc-form-size,.ec-calc .ec-calc-form-to,.ec-calc .ec-calc-form-value,.ec-calc .ec-calc-form-weight {
    float: left;
    width: 50%
}

.ec-calc .ec-calc-form-delivery sup,.ec-calc .ec-calc-form-from sup,.ec-calc .ec-calc-form-pickup sup,.ec-calc .ec-calc-form-size sup,.ec-calc .ec-calc-form-to sup,.ec-calc .ec-calc-form-value sup,.ec-calc .ec-calc-form-weight sup {
    font-size: 75%;
    line-height: 0
}

.ec-calc .ec-calc-form .ec-calc-form-from_city {
    font-size: 18px;
    font-weight: 700
}

.ec-calc .ec-calc-form__label {
    display: block!important;
    margin-bottom: 2px!important;
    padding: 0!important
}

.ec-calc .ec-calc-form label.ec-calc-form__label {
    cursor: pointer
}

.ec-calc .ec-calc-form--error {
    background-color: #ef9a9a
}

.ec-calc .ec-calc-form input[type="text"] {
    border: 1px solid #ddd!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    height: 29px!important;
    padding: 4px 10px!important;
    width: 300px!important;
    background-color: #fff;
}

.ec-calc .ec-calc-form input[type="text"]:focus {
    border-color: #607d8b!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important
}

.ec-calc .ec-calc-form-size {
    display: none;
    overflow: hidden
}

.ec-calc .ec-calc-form-size input[type="text"] {
    float: left;
    width: 100px!important
}

.ec-calc .ec-calc-form-delivery,.ec-calc .ec-calc-form-pickup {
    padding-left: 25px;
    position: relative
}

.ec-calc .ec-calc-form-delivery input[type="checkbox"]:checked+label:before,.ec-calc .ec-calc-form-pickup input[type="checkbox"]:checked+label:before {
    background-color: #607d8b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 8px;
    z-index: 10000
}

.ec-calc .ec-calc-form-delivery .ec-calc-form__label:before,.ec-calc .ec-calc-form-pickup .ec-calc-form__label:before {
    content: none
}

.ec-calc .ec-calc-form-clone-btn {
    display: block!important;
    margin-bottom: 20px!important
}

.ec-calc .ec-calc-form-clone-btn .cCalcItemClose {
    color: red!important;
    cursor: pointer;
    display: block;
    text-decoration: underline
}

.ec-calc .ec-calc-form-clone-btn .cCalcItemAdd {
    color: #999!important;
    cursor: pointer;
    display: block;
    text-decoration: underline
}

.ec-calc .ec-calc-form-dop-checks {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative
}

.ec-calc .ec-calc-form-dop-checks input[type="text"].ec-calc-form__input-small {
    display: inline-block!important;
    font-size: 12px!important;
    height: 19px!important;
    margin-left: 10px!important;
    width: 70px!important
}

.ec-calc .ec-calc-form-delivery input[type="checkbox"],.ec-calc .ec-calc-form-dop-checks input[type="checkbox"],.ec-calc .ec-calc-form-pickup input[type="checkbox"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none
}

.ec-calc .ec-calc-form-dop-checks input[type="checkbox"]:checked+label:before {
    background-color: #607d8b;
    background-image: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 8px;
    z-index: 10000
}

.ec-calc .ec-calc-form-delivery input[type="checkbox"]:disabled+label,.ec-calc .ec-calc-form-dop-checks input[type="checkbox"]:disabled+label,.ec-calc .ec-calc-form-pickup input[type="checkbox"]:disabled+label {
    cursor: not-allowed;
    opacity: .35
}

.ec-calc .ec-calc-form-delivery .ec-calc-form__label,.ec-calc .ec-calc-form-dop-checks .ec-calc-form__label,.ec-calc .ec-calc-form-pickup .ec-calc-form__label {
    font-weight: 400!important;
    line-height: 1.4!important;
    padding: 0!important
}

.ec-calc .ec-calc-form-delivery .ec-calc-form__label:after,.ec-calc .ec-calc-form-dop-checks .ec-calc-form__label:after,.ec-calc .ec-calc-form-pickup .ec-calc-form__label:after {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px
}

.ec-calc .ec-calc-form-delivery__comment,.ec-calc .ec-calc-form-dop-checks__comment,.ec-calc .ec-calc-form-pickup__comment {
    color: #999;
    font-size: 10px
}

.ec-calc .ec-calc-form-submit {
    background: #607d8b!important;
    border: none!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    color: #fff!important;
    cursor: pointer!important;
    outline: none!important;
    padding: 4px 10px!important;
    text-transform: none!important
}

.ec-calc .ec-calc-form-submit:hover {
    background: #4b626d!important
}

.ec-calc .ec-calc-form-submit:focus {
    background: #41545e!important
}

.ec-calc-border {
    background-color: #eee;
    height: 6px;
    margin: 15px 0;
    position: relative;
    width: 100%
}

.ec-calc-border-load-bar {
    background-color: #fdba2c;
    display: none;
    height: 6px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 100%;
    z-index: 1
}

.ec-calc-border-bar {
    content: "";
    display: inline;
    height: 100%;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 0
}

.ec-calc-border-bar:nth-child(1) {
    -webkit-animation: loading 3s linear infinite;
    -moz-animation: loading 3s linear infinite;
    -o-animation: loading 3s linear infinite;
    animation: loading 3s linear infinite;
    background-color: #da4733
}

.ec-calc-border-bar:nth-child(2) {
    -webkit-animation: loading 3s linear 1s infinite;
    -moz-animation: loading 3s linear 1s infinite;
    -o-animation: loading 3s linear 1s infinite;
    animation: loading 3s linear 1s infinite;
    background-color: #3b78e7
}

.ec-calc-border-bar:nth-child(3) {
    -webkit-animation: loading 3s linear 2s infinite;
    -moz-animation: loading 3s linear 2s infinite;
    -o-animation: loading 3s linear 2s infinite;
    animation: loading 3s linear 2s infinite;
    background-color: #fdba2c
}

.ec-calc-result__header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px
}

.ec-calc-result-table {
    border: none!important;
    border-collapse: collapse!important;
    border-spacing: 0!important;
    margin: 0!important;
    padding: 0!important;
    width: 100%
}

.ec-calc-result-table a {
    color: #333;
    text-decoration: underline
}

.ec-calc-result-table__days {
    color: #999
}

.ec-calc-result-table thead tr th {
    background-color: #607d8b;
    color: #fff;
    font-size: 14px!important;
    font-weight: 700;
    padding: 5px 10px!important;
    text-transform: none!important
}

.ec-calc-result-table thead tr th:first-child {
    width: 30%!important
}

.ec-calc-result-table tbody tr.premium {
    background-color: #fffbed!important
}

.ec-calc-result-table tbody td {
    border: 1px solid #ddd;
    padding: 5px 10px
}

.ec-calc-result-table tbody strong {
    font-weight: 700
}

.ec-calc-result__insurin {
    font-size: 11px!important
}

.ec-calc-result__insurin b {
    font-size: inherit!important;
    font-weight: 700!important
}

.autocomplete-no-suggestion {
    border: 1px solid #999;
    color: #000!important;
    cursor: pointer;
    font-family: Ubuntu,sans-serif!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1.2!important;
    overflow: hidden;
    padding: 3px 5px;
    padding-left: 22px;
    position: relative;
    white-space: nowrap
}

.autocomplete-suggestions {
    background: #fff;
    border: 1px solid #999;
    overflow: auto
}

.autocomplete-suggestions [class^=csblflags] {
    background: rgba(0, 0, 0, 0) url(flags.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 11px;
    margin-right: 6px;
    width: 16px
}

.autocomplete-suggestions [class^=csblflags] {
    left: 2px;
    position: absolute;
    top: 5px
}

.autocomplete-suggestions .csblflags_by {
    background-position: -16px -22px
}

.autocomplete-suggestions .csblflags_eu {
    background-position: -48px -44px
}

.autocomplete-suggestions .csblflags_fi {
    background-position: -64px -44px
}

.autocomplete-suggestions .csblflags_kz {
    background-position: -208px -77px
}

.autocomplete-suggestions .csblflags_ru {
    background-position: -224px -121px
}

.autocomplete-suggestions .csblflags_ua {
    background-position: -96px -154px
}

.autocomplete-suggestion {
    color: #000!important;
    cursor: pointer;
    font-family: Ubuntu,sans-serif!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1.2!important;
    overflow: hidden;
    padding: 3px 5px;
    padding-left: 22px;
    position: relative;
    white-space: nowrap
}

.autocomplete-suggestion span {
    color: #999!important
}

.autocomplete-selected {
    background: #f0f0f0
}

.autocomplete-suggestions strong {
    color: #39f;
    font-weight: normal
}

.autocomplete-group {
    padding: 2px 5px
}

.autocomplete-group strong {
    border-bottom: 1px solid #000;
    display: block
}

@media only screen and (max-width: 992px) {
    .ec-calc {
        left:2%;
        margin: 0;
        top: 10px;
        width: 96%
    }

    .ec-calc .ec-calc-form-delivery,.ec-calc .ec-calc-form-pickup {
        padding-right: 30px
    }
}

@media only screen and (max-width: 768px) {
    .ec-calc .ec-calc-form input[type="text"] {
        width:100%!important
    }

    .ec-calc .ec-calc-form .ec-calc-form-size input[type="text"] {
        width: 33%!important
    }

    .ec-calc-item__img {
        width: 25%
    }

    .ec-calc-item-text {
        width: 75%
    }

    .ec-calc--call {
        height: 40px;
        height: auto;
        margin-top: -50px;
        padding: 15px 10px;
        right: -80px;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 200px
    }

    .ec-calc--call:after {
        content: none
    }

    .ec-calc--call--left {
        left: -80px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

.ec-calc-widget--500 .ec-calc-item__img {
    width: 25%
}

.ec-calc-widget--500 .ec-calc-item-text {
    width: 75%
}

@media only screen and (max-width: 480px) {
    .ec-calc .ec-calc-form-delivery,.ec-calc .ec-calc-form-from,.ec-calc .ec-calc-form-pickup,.ec-calc .ec-calc-form-size,.ec-calc .ec-calc-form-to,.ec-calc .ec-calc-form-value,.ec-calc .ec-calc-form-weight {
        float:none;
        width: 100%
    }

    .ec-calc-form-from,.ec-calc-form-pickup,.ec-calc-form-weight {
        margin-bottom: 10px
    }

    .ec-calc-result-table,.ec-calc-result-table tbody,.ec-calc-result-table td,.ec-calc-result-table th,.ec-calc-result-table thead,.ec-calc-result-table tr {
        display: block
    }

    .ec-calc-result-table thead {
        display: none
    }

    .ec-calc-result-table td:first-child {
        background-color: #607d8b
    }

    .ec-calc-result-table td:first-child a {
        color: #fff
    }

    .ec-calc-result-table thead tr th {
        font-size: 12px
    }

    .ec-calc-result-table tbody td {
        border: 0
    }

    .ec-calc-result-table tbody tr {
        border: 1px solid #ddd;
        margin-bottom: 10px
    }

    .ec-calc-item__img {
        margin-bottom: 10px;
        width: 100%
    }

    .ec-calc-item-text {
        width: 100%
    }
}

.ec-calc-widget--500 .ec-calc .ec-calc-form input[type="text"],.ec-calc-widget--mobile .ec-calc .ec-calc-form input[type="text"] {
    width: 100%!important
}

.ec-calc-widget--500 .ec-calc .ec-calc-form-dop-checks input[type="text"].ec-calc-form__input-small,.ec-calc-widget--mobile .ec-calc .ec-calc-form-dop-checks input[type="text"].ec-calc-form__input-small {
    max-width: 70px
}

.ec-calc-widget--mobile .ec-calc .ec-calc-form-delivery,.ec-calc-widget--mobile .ec-calc .ec-calc-form-from,.ec-calc-widget--mobile .ec-calc .ec-calc-form-pickup,.ec-calc-widget--mobile .ec-calc .ec-calc-form-to,.ec-calc-widget--mobile .ec-calc .ec-calc-form-value,.ec-calc-widget--mobile .ec-calc .ec-calc-form-weight {
    float: none;
    width: 100%
}

.ec-calc-widget--mobile .ec-calc-form-from,.ec-calc-widget--mobile .ec-calc-form-pickup,.ec-calc-widget--mobile .ec-calc-form-weight {
    margin-bottom: 10px
}

.ec-calc-widget--mobile .ec-calc-result-table,.ec-calc-widget--mobile .ec-calc-result-table tbody,.ec-calc-widget--mobile .ec-calc-result-table td,.ec-calc-widget--mobile .ec-calc-result-table th,.ec-calc-widget--mobile .ec-calc-result-table thead,.ec-calc-widget--mobile .ec-calc-result-table tr {
    display: block
}

.ec-calc-widget--mobile .ec-calc-result-table td:first-child {
    background-color: #607d8b
}

.ec-calc-widget--mobile .ec-calc-result-table td:first-child a {
    color: #fff
}

.ec-calc-result-table-route>div,.ec-calc-widget--mobile .ec-calc-result-table thead tr th {
    font-size: 12px
}

.ec-calc-widget--mobile .ec-calc-result-table tbody td {
    border: 0;
    width: 100%!important
}

.ec-calc-widget--mobile .ec-calc-result-table tbody tr {
    border: 1px solid #ddd;
    margin-bottom: 10px
}

.ec-calc-widget--mobile .ec-calc-item__img {
    float: none!important;
    margin-bottom: 10px;
    padding-right: 0!important;
    text-align: center;
    width: 100%
}

.ec-calc-widget--mobile .ec-calc-item-text {
    width: 100%
}

.ec-calc-widget--mobile .ec-calc-agree {
    margin-bottom: 3px!important
}

.ec-calc-widget--mobile .ec-calc-agree,.ec-calc-widget--mobile .ec-calc-made {
    position: static!important;
    text-align: center!important
}

.ec-calc-widget--mobile .ec-calc {
    padding-bottom: 10px
}

.cdbl-delivery-btn-1 {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#74ad5a),color-stop(1,#68a54b));
    background: -moz-linear-gradient(top,#74ad5a 5%,#68a54b 100%);
    background: -webkit-linear-gradient(top,#74ad5a 5%,#68a54b 100%);
    background: -o-linear-gradient(top,#74ad5a 5%,#68a54b 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#74ad5a),to(#68a54b));
    background: linear-gradient(to bottom,#74ad5a 5%,#68a54b 100%);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    -moz-box-shadow: inset 0 1px 0 0 #9acc85;
    -webkit-box-shadow: inset 0 1px 0 0 #9acc85;
    box-shadow: inset 0 1px 0 0 #9acc85;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b', GradientType=0);
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none
}

.cdbl-delivery-btn-1:focus,.cdbl-delivery-btn-1:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#68a54b),color-stop(1,#74ad5a));
    background: -moz-linear-gradient(top,#68a54b 5%,#74ad5a 100%);
    background: -webkit-linear-gradient(top,#68a54b 5%,#74ad5a 100%);
    background: -o-linear-gradient(top,#68a54b 5%,#74ad5a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#68a54b),to(#74ad5a));
    background: linear-gradient(to bottom,#68a54b 5%,#74ad5a 100%);
    background-color: #68a54b;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a', GradientType=0)
}

.cdbl-delivery-btn-2 {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ffec64),color-stop(1,#ffab23));
    background: -moz-linear-gradient(top,#ffec64 5%,#ffab23 100%);
    background: -webkit-linear-gradient(top,#ffec64 5%,#ffab23 100%);
    background: -o-linear-gradient(top,#ffec64 5%,#ffab23 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#ffec64),to(#ffab23));
    background: linear-gradient(to bottom,#ffec64 5%,#ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #fa2;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 1px 0 0 #fff6af;
    -webkit-box-shadow: 0 1px 0 0 #fff6af;
    box-shadow: 0 1px 0 0 #fff6af;
    color: #333;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fe6
}

.cdbl-delivery-btn-2:focus,.cdbl-delivery-btn-2:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ffab23),color-stop(1,#ffec64));
    background: -moz-linear-gradient(top,#ffab23 5%,#ffec64 100%);
    background: -webkit-linear-gradient(top,#ffab23 5%,#ffec64 100%);
    background: -o-linear-gradient(top,#ffab23 5%,#ffec64 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#ffab23),to(#ffec64));
    background: linear-gradient(to bottom,#ffab23 5%,#ffec64 100%);
    background-color: #ffab23;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0)
}

.cdbl-delivery-btn-3 {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#599bb3),color-stop(1,#408c99));
    background: -moz-linear-gradient(top,#599bb3 5%,#408c99 100%);
    background: -webkit-linear-gradient(top,#599bb3 5%,#408c99 100%);
    background: -o-linear-gradient(top,#599bb3 5%,#408c99 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#599bb3),to(#408c99));
    background: linear-gradient(to bottom,#599bb3 5%,#408c99 100%);
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 10px 14px -7px #276873;
    -webkit-box-shadow: 0 10px 14px -7px #276873;
    box-shadow: 0 10px 14px -7px #276873;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0 1px 0 #3d768a
}

.cdbl-delivery-btn-3:focus,.cdbl-delivery-btn-3:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#408c99),color-stop(1,#599bb3));
    background: -moz-linear-gradient(top,#408c99 5%,#599bb3 100%);
    background: -webkit-linear-gradient(top,#408c99 5%,#599bb3 100%);
    background: -o-linear-gradient(top,#408c99 5%,#599bb3 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#408c99),to(#599bb3));
    background: linear-gradient(to bottom,#408c99 5%,#599bb3 100%);
    background-color: #408c99;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0)
}

.cdbl-delivery-btn-1:active,.cdbl-delivery-btn-2:active,.cdbl-delivery-btn-3:active {
    position: relative;
    top: 1px
}

.csbl-delivery-btn_1 {
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    outline: 0;
    padding: .5em 2em .55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3)
}

.csbl-delivery-btn_1:focus,.csbl-delivery-btn_1:hover {
    color: #fff;
    text-decoration: none
}

.csbl-delivery-btn_1:active {
    color: #fff;
    position: relative;
    top: 1px
}

.csbl-1-orange {
    background: #f78d1d;
    background: -webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));
    background: -moz-linear-gradient(top,#faa51a,#f47a20);
    border: solid 1px #da7c0c;
    color: #fef4e9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
}

.csbl-1-orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015));
    background: -moz-linear-gradient(top,#f88e11,#f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015')
}

.csbl-1-orange:active {
    background: -webkit-gradient(linear,left top,left bottom,from(#f47a20),to(#faa51a));
    background: -moz-linear-gradient(top,#f47a20,#faa51a);
    color: #fcd3a5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
}

.csbl-1-blue {
    background: #0095cd;
    background: -webkit-gradient(linear,left top,left bottom,from(#00adee),to(#0078a5));
    background: -moz-linear-gradient(top,#00adee,#0078a5);
    border: solid 1px #0076a3;
    color: #d9eef7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5')
}

.csbl-1-blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear,left top,left bottom,from(#0095cc),to(#00678e));
    background: -moz-linear-gradient(top,#0095cc,#00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e')
}

.csbl-1-blue:active {
    background: -webkit-gradient(linear,left top,left bottom,from(#0078a5),to(#00adee));
    background: -moz-linear-gradient(top,#0078a5,#00adee);
    color: #80bed6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee')
}

.csbl-1-green {
    background: #64991e;
    background: -webkit-gradient(linear,left top,left bottom,from(#7db72f),to(#4e7d0e));
    background: -moz-linear-gradient(top,#7db72f,#4e7d0e);
    border: solid 1px #538312;
    color: #e8f0de;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')
}

.csbl-1-green:hover {
    background: #538018;
    background: -webkit-gradient(linear,left top,left bottom,from(#6b9d28),to(#436b0c));
    background: -moz-linear-gradient(top,#6b9d28,#436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c')
}

.csbl-1-green:active {
    background: -webkit-gradient(linear,left top,left bottom,from(#4e7d0e),to(#7db72f));
    background: -moz-linear-gradient(top,#4e7d0e,#7db72f);
    color: #a9c08c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f')
}

.ec-delivery .ec-calc .ec-calc-form-delivery,.ec-delivery .ec-calc .ec-calc-form-from,.ec-delivery .ec-calc .ec-calc-form-pickup,.ec-delivery .ec-calc .ec-calc-form-to {
    margin-bottom: 20px
}

.ec-delivery .ec-calc .ec-calc-form-row {
    margin-bottom: 0
}

.ec-delivery .ec-calc-result-table td div {
    font-size: 14px
}

.ec-delivery .ec-calc-result-table td div strong {
    color: #777;
    font-size: inherit;
    font-style: italic;
    font-weight: 400;
    margin-left: 5px
}

.ec-delivery .ec-calc-result-table td div.ec-calc-result-table__rouble {
    font-size: 14px;
    font-weight: 700
}

.ec-delivery .ec-calc-layout {
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    display: block;
    height: auto;
    max-width: 700px;
    position: relative;
    z-index: 1
}

.ec-delivery .ec-calc-layout .ec-calc {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    position: static;
    width: 100%;
    z-index: 1
}

.ec-calc-result,.ec-calc-widget--mobile .ec-calc-result-table thead,.ec-delivery .ec-calc-layout .ec-calc .ec-calc__close {
    display: none
}
