
body {
    background-color: #e1e1e1;
    min-height: 100vh;
}

.uk-navbar-container {
    background-color: #050f44;
}

.uk-navbar-container .uk-logo {
    color: #fff;
}


.uk-navbar-container .uk-navbar-nav>li>a {
    color: #fff;
}

#wrapper {}
#navbar {}
#container {}
#header {}
#content {}
#footer {}
